<h1><%= @result.test.title %> was passed</h1>

<% if @result.successful?(@result) %>
  <p>Тест пройден на<a style="color: green"> <%= @result.check_quality(@result) %></a>%</p>
<% else %>
  <p>Тест пройден на<a style="color: red"> <%= @result.check_quality(@result) %></a>%</p>
<% end %>

<p><%= link_to 'Back', root_path %></p>
