<h1>User badges</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Badge</th>
  </tr>
  <%= render @badges %>
</table>

<table>
  <h2>Незаработанные награды</h2>
  <tr>
    <th>Title</th>
    <th>Url</th>
  </tr>
<%=render@hide_badges %>
</table>

<%= render 'shared/footer' %>
