<h3><%= current_year %> Смирнов Николай</h3>

<p>Приложение для создания и прохождения тестов</p>
<p><%= github_url(author: 'mgoldm', repo: 'Test-guru', title: 'Test-guru') %></p>

<%= link_to 'Учебный проект в онлайн-школе Thinknetica', "https://thinknetica.com" %>