<h3><%= current_year %> Смирнов Николай</h3>

<p>Приложение для создания и прохождения тестов</p>
<p><%= link_to 'Ссылка на github', github_url('mgoldm', 'Test-guru') %></p>

<%= link_to 'Учебный проект в онлайн-школе Thinknetica', "https://thinknetica.com" %>