<h1>Тесты</h1>
<p><%= link_to 'Badges', badges_path %></p>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Actions</th>
    <th>Number of Questions</th>
  </tr>
  <%= render @tests %>
</table>


<%= render 'shared/footer' %>
